<md-card id="help_you" class="help_you">
  <md-card-content>
    <img md-card-image class="content" src="https://scontent.fbed1-2.fna.fbcdn.net/v/t1.0-9/15027882_10101666597237585_7556774340470305079_n.jpg?oh=635948e21d52a9aacc0ab9cc53a4e1ad&oe=58D120BD"/>

      <md-input placeholder="E-Mail" (keyup)="eventHandler($event)" align="start" id="email_input" name="username" class="invite_input" [(ngModel)]="email"></md-input>
    <button md-mini-fab  (click)="addEmail()">
      <md-icon class="md-24">+</md-icon>
    </button>

      <md-list>
        <md-list-item *ngFor="let email of invitation.emails">{{email}}</md-list-item>
      </md-list>

      <md-textarea class="demo-full-width" placeholder="emailtext" value="" [(ngModel)]="invitation.message"></md-textarea>
      <button md-button type="submit" class="invite_button" style="color: white;" (click)="invite()">Invite</button>

  </md-card-content>
</md-card>
