
.help_you {
  position: relative;
  min-width: 100px;
  width: 30vw;
  left: calc((100vw - 30vw)/2);
  top: calc((100vh - 20vh)/4);
}

.invite_input {
  width: 80%;
}

.invite_button {
  position: relative;
  width: 100%;
  background-color: darkcyan;
  color: white;
  margin-top: 2em!important;
}

.invite_footer {
  margin-top: 1.5em!important;
}

.content {
  padding: 0;
}
