
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div id="help_you" class="card">
  <img  class="content" src="https://scontent.fbed1-2.fna.fbcdn.net/v/t1.0-9/15027882_10101666597237585_7556774340470305079_n.jpg?oh=635948e21d52a9aacc0ab9cc53a4e1ad&oe=58D120BD"/>

  <button>  <!--[md-menu-trigger-for]="menu"-->
    <div>more_vert</div>
  </button>

  <div>
    <button  routerLink="/dashboard" routerLinkActive="active"> Dashboard </button>
    <button  routerLink="/profile" routerLinkActive="active"> Profile </button>
    <button  routerLink="/invite" routerLinkActive="active"> Invite </button>
    <button  routerLink="/login" routerLinkActive="active"> Login </button>
    <button  routerLink="/admin" routerLinkActive="active"> Admin </button>
    <button  disabled> Sign Out </button>
  </div>

  <div>
    <h2 *ngIf="profile">Welcome, {{ profile.name }}</h2>

      <div>
        <template div>
          All Profiles
        </template>
        <h1>Listing of profiles where you can select, view and update specific profile</h1>

        <div>
          <div *ngFor="let profile of profiles">{{profile.id}} - {{ profile.name }} - {{ profile.status }}</div>
        </div>

      </div>
      <div>
        <template div>
          Pending Profiles
        </template>
        <h1>List of Profiles which need to be approved</h1>
        <div>
          <div *ngFor="let profile of (profiles | property)">{{profile.id}} - {{ profile.name }} - {{ profile.status }}</div>
        </div>

      </div>
      <div>
        <template div>
          Invite
        </template>
        <h1>Allow us to invite people - should just be a link to invite</h1>
        <p>...</p>
      </div>
      <div>
        <template div>
          Search Profile
        </template>
        <h1>Show a search field  - searching for a profile</h1>
        <p>...</p>
      </div>
  </div>

</div>
