  <div class="header">
    <div class="header_text">
      <div class="primary_header">I CAN HELP YOU WITH THAT</div>
      <div class="sub_header">GETTING STUFF DONE FOR THE MOVEMENT</div>
    </div>
    <div class="logo"></div>
  </div>
  <form #loginForm="ngForm" (ngSubmit)="login()" class="login_form">
    <input placeholder="E-Mail" align="start" id="email_input" name="username" class="login_input" #username="ngModel" [(ngModel)]="credentials.userid" />
    <input placeholder="Password" align="start" id="password_input" name="password" type="password" class="login_input" #password="ngModel" [(ngModel)]="credentials.password" />
  </form>
