<div class="card">
  <div class="header">
    <div class="header_text">
      <div class="primary_header">I CAN HELP YOU WITH THAT</div>
      <div class="sub_header">GETTING STUFF DONE FOR THE MOVEMENT</div>
    </div>
    <div class="logo"></div>
  </div>
  <form #loginForm="ngForm" (ngSubmit)="login()" class="login_form">
    <div class="login_fields">
      <input placeholder="E-Mail" align="start" id="email_input" name="username" class="login_input" #username="ngModel" (blur)="emailListener($event)" [(ngModel)]="credentials.userid" />
      <input placeholder="Password" align="start" id="password_input" name="password" type="password" class="login_input" #password="ngModel" [(ngModel)]="credentials.password" />
    </div>

    <button *ngIf="isSubmitVisible" type="submit" class="login_button" (click)="login()">
      <div class="button_text">
        {{loginText}}
        <br />
        click to login
      </div>
    </button>
  </form>
  <!--<p class="text login_footer">-->
    <!--Want to help out? Get an invite from a friend or email us.<br />-->
    <!--Organization in need of help? <a routerLink="/signup" routerLinkActive="active">Sign up here</a>-->
  <!--</p>-->
</div>
