<md-card id="help_you" class="help_you">
  <md-card-content>
    <img md-card-image class="content" src="https://scontent.fbed1-2.fna.fbcdn.net/v/t1.0-9/15027882_10101666597237585_7556774340470305079_n.jpg?oh=635948e21d52a9aacc0ab9cc53a4e1ad&oe=58D120BD"/>
    <p>
      Welcome {{profile.name}}

      Invites - {{profile.invites}}</p>
    <md-input placeholder="E-Mail" (keyup)="eventHandler($event)" align="start" id="email_input" name="username" class="invite_input" [(ngModel)]="email"></md-input>

    <button md-button type="submit" class="invite_button" style="color: white;" (click)="update()">Update Profile</button>

  </md-card-content>
</md-card>
