<div id="help_you" class="help_you">
  <div>
    <img  class="content" src="https://scontent.fbed1-2.fna.fbcdn.net/v/t1.0-9/15027882_10101666597237585_7556774340470305079_n.jpg?oh=635948e21d52a9aacc0ab9cc53a4e1ad&oe=58D120BD"/>
    <p class="text login_footer">
      Want to help out? Get an invite from a friend or email us.<br />
      Organization in need of help?
    </p>
    <p>
      Sign-up</p>
    <form #signupForm="ngForm" (ngSubmit)="signup()">
      <input placeholder="Name" align="start" id="name_input" name="name" class="login_input" [(ngModel)]="profile.name" />
      <input placeholder="E-Mail" align="start" id="email_input" name="email" class="login_input" [(ngModel)]="profile.email" />
      <input placeholder="Mission" align="start" id="mission_input" name="mission" class="login_input" [(ngModel)]="profile.mission" />
      <button  type="submit" class="login_button" style="color: white;" (click)="signup()">Sign-up</button>
    </form>

  </div>
</div>
