/* You can add global styles to this file, and also import other style files */



app-root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  all: initial!important;
}


.card {
  position: relative;
  min-width: 100px;
  width: 30vw;
  left: calc((100vw - 30vw)/2);
  top: calc((100vh - 20vh)/8);
}


.text {
  color: black;
  text-align: center;
  font-size: .9em;
}

.separator-vertical {
  border-top: .1em solid gold;
  border-bottom: .1em solid gold;
}

.login_footer {
  margin-top: 1.5em!important;
}

.header {
  display: flex;
  padding-top: 1em;
  width: 100%;
  min-width: 16em;
  margin: auto;
  justify-content: center;
  transition: 1s;
}


.header_text {
  width: auto;
  margin-top: 1em;
  transition: .25s;
}

.primary_header {
  font-family: "PT Sans Narrow", Impact, fantasy;
  font-size: 4.125em;
  opacity: .8;
  /*padding-right: 1em;*/
  padding-top: .75em;
  text-align: center;
  transition: .25s;
}

.sub_header {
  font-family: "PT Sans Narrow", Impact, fantasy;
  font-size: 1.5em;
  opacity: .4;
  padding-top: .2em;
  text-align: center;
  transition: .25s;
}

.logo {
  position: absolute;
  height: 7.5em;
  width: 7.5em;
  opacity: .2;
  background: url("./assets/logo.png") no-repeat center center;
  background-size: cover;
  transition: .25s;
}

.button_text {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1500px) {
  .login_input {
    height: 3.75em;
    font-size: 1.25em;
  }
  .header {
    padding-top: 1em,
  }
  .primary_header {
    font-size: 1.75em;
  }
  .sub_header {
    font-size: .75em;
    padding-top: .2em;
  }
}

@media screen and (max-width: 1500px) and ( min-width: 768px ) {
  .login_input {
    height: 3.75em;
    font-size: 1.5em;
  }
  .header {
    padding-top: 1em;
  }
  .primary_header {
    font-size: 1.75em;
  }
  .sub_header {
    font-size: .75em;
    padding-top: .2em;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: .75em,
  }
  .primary_header {

  }

  .primary_header {
    width: 7.5em;
    height: 7.5em;
  }

  .sub_header {
    font-size: .75em;
    padding-top: .25em;
  }
}
